
body{
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 22px ; //минимальная высота строки текста
  font-family: "RalewayRegular", sans-serif;
  overflow-x: hidden ; //если контент большой, он скрывается за полем
  color: #333333;
}
.hidden {
  display: none;
}
.cmn-toggle-switch{  //сброс стилей браузера
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 108px;  //ширина кнопки
  height: 96px;  //высота кнопки
  font-size: 0;
  text-indent: -9999px;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
}

.cmn-toggle-switch:focus{ 
  outline: none;
}    
.cmn-toggle-switch span{ //свойства центральной линии
  display: block;
  position: absolute;
  top: 45px;
  left: 18px;
  right: 18px;
  height: 6px;
  background: white;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #fff;
  content: "";
}

.cmn-toggle-switch span::before{ 
  top: -27px;
}

.cmn-toggle-switch span::after{ 
  bottom: -27px;
}

.cmn-toggle-switch__htx span{  
  transition:background 0s, 0,3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after{ 
  transition-duration:0.3s, 0.3s;
  transition-delay:0.3s, 0s;
}
.cmn-toggle-switch__htx span::before{  
  /* autoprefixer: off */
  transition-property: top, transform; 
 }

.cmn-toggle-switch__htx span::after{
  /* autoprefixer: off */
  transition-property: bottom, transform 
}
  
/*********************************************** active state, i.e. menu open */
.cmn-toggle-switch__htx.active{ 
  background-color: #465667;
}

.cmn-toggle-switch__htx.active span{ 
  background: none;
}

.cmn-toggle-switch__htx.active span::before{ 
  top: 0;
  transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after{ 
  bottom: 0;
  transform:rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after{
  transition-delay:0s, 0.3s;
}  
  


